# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
lib-cov
coverage
*.lcov

# Node and OS
node_modules/
.DS_Store
Thumbs.db

# TypeScript / Build output
dist
build
.tscache
*.tsbuildinfo

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vite / React specific
.vite
dist-ssr

# Prisma
/server/prisma/*.db
/server/prisma/*.db-journal

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# Docker
.docker/
docker-compose.override.yml
